# reseqr.config
# default configuration file for Image File Resequencer


default project : test suite

# projects

test suite :
    project_name : TEST SUITE PROJECT
    project_path : ../test

  # the mets files for each batch will be in a directory with batch directories
  # either on the harddrive itself or elsewhere with identical batch names
    mets_path : ../test

    imaging_services_prefix : FIMG-JP2-
    extension : .jp2
    local_renaming_prefix : R_
